<div class="content" style="margin-top: 100px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title"><span ng-if="accountCtrl.user.firstname">{{accountCtrl.user.firstname}}'s</span> Profile</h4>
            <p class="category">Complete your profile</p>
          </div>
          <div class="card-content">
            <div ng-show="errorMessage">
              <span>{{errorMessage}}</span>
            </div>
            <form name="profileForm" ng-submit="accountCtrl.updateProfile()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control" ng-model="accountCtrl.user.firstname" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" ng-model="accountCtrl.user.lastname" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" ng-model="accountCtrl.user.email" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Role</label>
                    <input type="text" class="form-control" ng-model="accountCtrl.user.role" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Department</label>
                    <input type="text" class="form-control" ng-model="accountCtrl.user.department" disabled>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group label-floating">
                    <label class="control-label">Phone Number</label>
                    <input type="text" class="form-control" ng-model="accountCtrl.user.phoneNumber">
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary pull-center" data-toggle="modal" data-target="#changePassword">Change Password</button>
              <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Change Password</h4>
          <p class="category">Complete all fields</p>
        </div>
        <div class="card-content">
          <div ng-show="errorMessage">
            <span>{{accountCtrl.PasswordData.error}}</span>
          </div>
          <span>{{accountCtrl.PasswordData.error}}</span>
          <form ng-submit="accountCtrl.changePassword()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Current Password</label>
                  <input type="password" class="form-control" ng-model="accountCtrl.PasswordData.oldpassword" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Password</label>
                  <input type="password" class="form-control" ng-model="accountCtrl.PasswordData.password" ng-change="accountCtrl.textChanged()" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Confirm Password</label>
                  <input type="password" class="form-control" id="password2" ng-model="accountCtrl.PasswordData.password2" ng-change="accountCtrl.textChanged()" required>
                </div>
              </div>
            </div>
            <button type="submit" id="UpdatePassword" class="btn btn-primary pull-right">Update Password</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="accountCtrl.cancelChangePassword()">Cancel</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
