<div class="content" style="margin-top: 100px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Devices List</h4>
                        <a class="btn-floating pull-right">
                            <button type="button" class="btn btn-primary btn-floating" data-toggle="modal"  data-target="#addDevice"><i class="material-icons">add</i></button>
                        </a>
                        <p class="category">{{deviceCtrl.test}}</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>ID</th>
                                <th>Battery</th>
                                <th>Fill Level</th>
                                <th>Last Update</th>
                                <th>Position</th>
                            </thead>
                            <tbody>
                              <tr ng-repeat="dev in deviceCtrl.myDevices" ng-click="deviceCtrl.setSelected(dev.$id)" ng-class="{selected: dev.$id === deviceCtrl.idSelected}">
                                <td>{{dev.$id}}</td>
                                <td>{{dev.battery}}</td>
                                <td>{{dev.filled}}</td>
                                <td>{{dev.lastseen | filter}}</td>
                                <td>{{dev.position}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Users per device</h4>
                        <p class="category">Users assigned to selected device</p>
                    </div>
                    <div class="card-content table-responsive">
                      <table class="table">
                        <thead class="text-primary">
                          <th>Username</th>
                          <th>Name</th>
                          <th>Department</th>
                          <th>Role</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="user in deviceCtrl.users">
                            <td>{{user.email}}</td>
                            <td>{{user.firstname + ' ' + user.lastname}}</td>
                            <td>{{user.department}}</td>
                            <td>{{user.role}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Device  Modal -->
<div class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Create DeviceType</h4>
          <p class="category">Or add device for current type</p>
        </div>
        <div class="card-content">
          <div ng-show="deviceCtrl.errorMessage"><span>{{deviceCtrl.errorMessage}}</span></div>
            <form ng-submit="deviceCtrl.addDevice()">
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Choose Device Type</label>
                            <select class="form-control category" ng-model="deviceForm"
                            ng-options="type.$id for type in devicesType" ng-disabled="newDeviceType">
                              <option selected></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group label-floating">
                        <label class="control-label">New Device Type</label>
                        <input type="text" class="form-control" ng-model="newDeviceType" ng-disabled="deviceForm">
                      </div>
                    </div> -->
                    <div class="col-md-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Device Id</label>
                        <input type="text" class="form-control" ng-model="deviceCtrl.newDeviceId" ng-disabled="!deviceCtrl.disabled">
                      </div>
                    </div>
                    <div class="col-md-6"><br><br>
                        <label><input type="checkbox" ng-model="deviceCtrl.checkedId" ng-change="deviceCtrl.dis()" ng-true-value="'Include device own Id'" ng-false-value="'Auto generate Id'"> {{deviceCtrl.checkedId}}</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <div class="clearfix"></div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
