@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

.selected {
  background-color: #ce93d8;
}

.btn-floating{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 25px;
    z-index: 100;
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
        background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
    .ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.table tr:hover {
  cursor: pointer;
}
